.header {
    background-color: $background;

    &__title {
        width: max-content;
        margin: 0 auto;
        padding: 1.25rem;

        color: $title;
        font-size: 1.25rem;

        @include media("tablet") {
            padding: 1.5625rem;

            font-size: 1.5625rem;
        };

        @include media("desktop") {
            padding: 1.875rem;
            
            font-size: 1.875rem;
        };
    };
};