.wrapper {
    max-width: 768px;
    margin: 1.25rem auto;
    padding: 4rem;

    display: flex;
    flex-direction: column;
    
    @include media("tablet") {
        max-width: 1024px;
    };
    
    @include media("desktop") {
        max-width: 1280px;
    };
};

.form {
    display: flex;
    flex-direction: column;

    padding: 1rem;

    background-color: $hero;
    
    &__question {
        padding-bottom: 5px;
    };
    
    &__input {
        padding: 5px;
        font-size: 16px;
    };
};

.today {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 2rem;
    padding: 1rem;
    background-color: $heroWeather;
    border: solid $border .125rem;
    border-radius: 1.25rem;

    
    &__item {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        
        &-icon,
        &-info {
            margin: 0 auto;
        };
    };
};

.forecast {
    margin: 2rem 0;
    list-style-type: none;

    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    
    justify-content: space-between;
    
    @include media("tablet") {
        grid-template-columns: repeat(2, 1fr);
        
    };
    
    @include media("desktop") {
        margin: 2rem 0;
        grid-template-columns: repeat(4, 1fr);
        
    };
    
    &-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        padding: 20px;
        background-color: $heroForecast;
        border: solid $border .125rem;
        border-radius: 1.25rem;

        &-title,
        &-icon,
        &-info {
            margin: 0 auto;
        };

        &-text {
            display: flex;
            justify-content: space-between;
        };
    };
};
